<%- include("../includes/head.ejs") %>

<body>

    <%- include("../includes/navigation.ejs") %>

    <main>
        <form action="/admin/add-product" method="POST">
            <label>Title</label>
            <input type="text" name="title">
            <label>description</label>
            <input type="text" name="description">
            <label>imageUrl</label>
            <input type="text" name="imageUrl">
            <label>price</label>
            <input type="text" name="price">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">Add Product</button>
        </form>
    </main>
</body>

</html>