<header>
        <nav>
            <ul>
                <li><a href="/">Shop</a></li>
                <% if( isAuthenticated )  { %>
                <li><a href="/admin/add-product">Add Product</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/order">Orders</a></li>
                <% } %>
                <% if( isAuthenticated )  { %>
                    <form action="/auth/logout" method="post">
                     <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      <button type="submit">
                         Logout
                      </button>
                    </form>
                <% } else {%>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/signup">Signup</a></li>
                <% } %>
            </ul>
        </nav>
    </header>