<%- include("../includes/head.ejs") %>

<body>
    
    <%- include("../includes/navigation.ejs") %>

    <h2>Page not Found</h2>
    <p>
        We are working on fixing this, sorry for the inconvience!
    </p>

</body>

</html>